<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.hospital.dao.RoleMenuDao">
<select id="selMenusByRoleId" resultType="com.zhang.hospital.entity.RoleMenu">
    select * from rolemenu where roleid=#{roleId}
</select>
<select id="getRoleMenuByMenuId" resultType="com.zhang.hospital.entity.RoleMenu">
    select * from rolemenu where menuId=#{menuId}
</select>

<delete id="deleteMenusByRoleId">
    delete from rolemenu where roleId=#{roleId}
</delete>
<insert id="insert" parameterType="com.zhang.hospital.entity.RoleMenu">
    insert into rolemenu (menuId,roleId) values (#{menuId},#{roleId})
</insert>
<delete id="deleteMenuByMenuId">
    delete from rolemenu where menuId=#{menuId}
</delete>
</mapper>