# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\hospital_layui\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
